In [2]:
import sklearn
import numpy as np
import scipy as sp
import pandas as pd
import glove_solution
import matplotlib.pyplot as plt

In [3]:
all_words = np.load('embeddings.npy')

In [22]:
all_words, all_words.shape

(array([[ 0.12667778,  0.25033326,  0.17753004, ..., -0.05073233,
          0.40251133,  0.3292477 ],
        [ 0.18150658,  0.34523058,  0.23116592, ..., -0.08196746,
          0.53457013,  0.41001274],
        [ 0.16273848,  0.3311124 ,  0.23332552, ..., -0.09192156,
          0.59256165,  0.45893371],
        ...,
        [ 1.03691048,  1.52507158,  0.1381153 , ...,  1.5792987 ,
          1.57201574, -1.02772805],
        [ 0.61629264, -2.44090437, -2.08893546, ...,  0.28810867,
         -0.53614846, -1.7232222 ],
        [ 2.14907153,  1.90476016, -1.0027138 , ...,  1.07865881,
         -0.84661144, -1.5454268 ]]), (21161, 20))

In [25]:
# Import vocab and transform it into an array
vocab_cut = pd.read_fwf('vocab_cut.txt', sep = "\t", header = None, error_bad_lines=False)
vocab_cut.columns = ['word']
voc = vocab_cut.values
arg = np.argwhere('!')
voc, vc.shape

(array([['<user>'],
        ['!'],
        ['i'],
        ...,
        ['#1dson'],
        ['#18'],
        ['#10fac']], dtype=object), (21161, 1))

In [27]:
# Load train set positiv and train set negativ
tweet_pos = pd.read_csv('data/train_pos.txt', sep = '\t', header = None)
tweet_neg = pd.read_csv('data/train_neg.txt', sep = '\t', header = None)
tweet_test = pd.read_csv('data/test_data.txt', sep = '\t', header = None)

In [28]:
tweet_pos.head()

                                                   0
0  <user> i dunno justin read my mention or not ....
1  because your logic is so dumb , i won't even c...
2   <user> just put casper in a box !  looved the...
3  <user> <user> thanks sir > > don't trip lil ma...
4  visiting my brother tmr is the bestest birthda...

In [29]:
tweet_neg.head()

                                                   0
0  vinco tresorpack 6 ( difficulty 10 of 10 objec...
1  glad i dot have taks tomorrow ! ! #thankful #s...
2  1-3 vs celtics in the regular season = were fu...
3  <user> i could actually kill that girl i'm so ...
4  <user> <user> <user> i find that very hard to ...

In [30]:
tweet_test.head()

                                                   0
0  1,sea doo pro sea scooter ( sports with the po...
1  2,<user> shucks well i work all week so now i ...
2          3,i cant stay away from bug thats my baby
3  4,<user> no ma'am ! ! ! lol im perfectly fine ...
4  5,whenever i fall asleep watching the tv , i a...

In [31]:
import re

In [ ]:
def tweet_to_vect(tweet):
    re.findall(r'\w+', string)